<!DOCTYPE html>
<html>
  <head>
      <title><%= title %></title>
    </head>
    <body>
      <% if ( userFullName ) { %>
        <h2>Hello <%=userFullName%> </h2>
        <a href="/signout">Sign out</a>
        <div id="main"></div>
        <script src="javascript/bundle.js" type="text/javascript"></script>
      <% } else { %>
        <a href="/signup">Signup</a>
        <a href="/signin">Signin</a>
    <% } %>
    <br>
    </body>
</html>